{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card" style="width: 40%;">
        <div class="card-body">
            <h2 class="mb-4">Nouvelle partie</h2>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="row g-3">
                    {{ player_entry(form.player_1) }}
                    
                    {{ player_entry(form.player_2) }}
                    
                    {{ player_entry(form.player_3) }}
                    
                    {{ player_entry(form.player_4) }}
                    
                    {{ player_entry(form.player_5) }}
                    <div class="col-md-6 mt-5">
                        <a href="{{ url_for('main.players') }}" class="btn border-secondary text-secondary" style="width: 100%;">Annuler</a>
                    </div>
                    <div class="col-md-6 mt-5">
                        {{ form.submit(class='btn btn-primary', style="width: 100%;") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% macro player_entry(player) %}
<div class="col-12">
    {{ player.label(class='form-label') }} :
        
    {{ player(class='form-select' + (' is-invalid' if player.errors else '')) }}
    {% for error in player.errors %}
    <div class="invalid-feedback">
        {{ error }}
    </div>
    {% endfor %}
    
</div>
{% endmacro %}