{% extends "base.html" %}

{% block content %}
    <h1>Nouvelle partie</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ player_entry(form.player_1) }}
        <br>
        {{ player_entry(form.player_2) }}
        <br>
        {{ player_entry(form.player_3) }}
        <br>
        {{ player_entry(form.player_4) }}
        <br>
        {{ player_entry(form.player_5) }}
        <br>
        {{ form.submit(class='btn btn-primary mb-3') }}
    </form>
{% endblock %}

{% macro player_entry(player) %}
    <div>
        {{ player.label(class='form-label') }}
        {{ player(class='form-select' + (' is-invalid' if player.errors else ''), style='width: auto;') }}
        {% for error in player.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
    </div>
{% endmacro %}