{% extends "base.html" %}
{% import "players/jinja_macros.html" as jm %}

{% block content %}
    <h1>Joueurs</h1>
    <div class="container mt-5">
        <div class="container text-center">
            <div class="d-flex flex-wrap justify-content-center">
                {% for player in players %}
                <div class="p-2">
                    {{ jm.edit_player(player) }}
                    <br>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}