{% macro edit_player(player, form) %}
{% if form %}
<form hx-post="{{ url_for('players.edit_player', player_id=player.id) }}" hx-target="this" hx-swap="outerHTML" class="card">
    {{ form.hidden_tag() }}
{% else %}
<div hx-target="this" hx-swap="outerHTML" class="card">
{% endif %}
    <div class="card-body px-5">
        <div class="d-flex flex-column">
            <div class="card-title p-2">
                {% if form %}
                    {{ form.username(class='form-control form-control-lg' + (' is-invalid' if form.username.errors else ''), size="12") }}
                    {%- for error in form.username.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                    {%- endfor %}
                {% else %}
                    <h2>{{ player.username }}</h2>
                {% endif %}
            </div>
            <div>
                <div class="d-flex flex-row flex-wrap">
                    <div class="p-2">
                        {% if form %}
                        {{ form.gender.label(class="col-form-label") }}
                        {% else %}
                        <label class="col-form-label" for="{{ player.username }}Select">Genre:</label>
                        {% endif %}
                    </div>
                    <div class="p-2">
                        {% if form %}
                        {{ form.gender(class='form-select' + (' is-invalid' if form.gender.errors else ''), style="width: auto;") }}
                        {% else %}
                        <select id="{{ player.username }}Select" class="form-select" style="width: auto;" disabled>
                            <option selected>{% if player.gender == 1 %}♀{% else %}♂{% endif %}</option>
                        </select>
                        {% endif %}
                    </div>
                    {% if form and form.gender.errors %}
                    <div class="p-2">
                        {%- for error in form.gender.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                        {%- endfor %}
                    </div>
                    {% endif %}
                </div>
                <br>
                <div class="d-flex flex-row flex-wrap">
                    <div class="p-2">
                        {% if form %}
                        {{ form.color.label(class="col-form-label") }}
                        {% else %}
                        <label class="col-form-label" for="{{ player.username }}Color">Couleur:</label>
                        {% endif %}
                    </div>
                    <div class="p-2">
                        {% if form %}
                        {{ form.color(class="form-control form-control-color", type="color") }}
                        {% else %}
                        <input class="form-control form-control-color" id="{{ player.username }}Color" type="color" value="{{ player.color }}" disabled>
                        {% endif %}
                    </div>
                </div>
                <br>
                {% if form %}
                {{ form.submit(class="btn btn-primary") }}
                <button hx-get="/players/{{ player.id }}/get_normal" class="btn btn-secondary">Annuler</button>
                {% else %}
                <button hx-get="/players/{{ player.id }}/get_edit" class="btn btn-primary">Modifier</button>
                {% endif %}
            </div>
        </div>
    </div>
{% if form %}
</form>
{% else %}
</div>
{% endif %}
{% endmacro %}
